{% extends "layout.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6">
        <img src="{{ producto.imagen_url }}" class="img-fluid" alt="{{ producto.nombre }}">
      </div>
      <div class="col-lg-6">
        <h1>{{ producto.nombre }}</h1>
        <p class="lead">Precio: S/ {{ producto.precio }}</p>
        <p>Stock disponible: {{ producto.stock }}</p>
        <p>Categoría: {{ producto.categoria.nombre }}</p>
        <p>Fecha de publicación: {{ producto.pub_date }}</p>
      </div>
    </div>
  </div>
{% endblock %}
